.container {
    display: flex;
    width: 70vw;
    /* height: 40vh; */
    align-items: center;
    border: 1px solid #333;
    margin: 3.5rem auto;
    padding: 0.7em 1.4em;
    font-weight: normal;
    font-size: x-large;
    font-family:'Cabin', sans-serif;

}
