.container {
    display: flex;
    width: 75vw;
    /* height: 40vh; */
    align-items: center;
    border: 1px solid #333;
    margin: 3rem auto;
    padding: 1em 1.5em;
    font-weight: normal;
    font-size: x-large;
    font-family:'Cabin', sans-serif;

}
