/* font-family: 'Bebas Neue', cursive; */
/* font-family: 'Cabin', sans-serif; */

header {
  margin-top: 1rem;
  margin-left: 1rem;
}

h1 {
  margin-block: 0.5rem;
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem;

}

button {
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  border: 1px solid #333;
  padding: 15px 15px;
  border-radius: 2px;
  background-color: aliceblue;
  cursor: pointer;
  /* transition-duration: 0.2s; */

}

button:active {
  background-color: #333;
  color: aliceblue;

}
.App {
  /* padding-top: 0; */
  margin-bottom: 2em;
}
 
